# {{ ansible_managed }}
deb {{ package_mirror }} {{ ansible_distribution_release }}-backports main
{% if enable_deb_src_repos | bool -%}
deb-src {{ package_mirror }} {{ ansible_distribution_release }}-backports main
{% endif -%}
