# {{ ansible_managed }}
deb {{ security_mirror }} {{ ansible_distribution_release }}{% if ansible_distribution_release not in ['jessie', 'stretch', 'buster'] %}-security{% endif %} main
{% if enable_deb_src_repos | bool -%}
deb-src {{ security_mirror }} {{ ansible_distribution_release }}{% if ansible_distribution_release not in ['jessie', 'stretch', 'buster'] %}-security{% endif %} main
{% endif -%}
