# Vendored from rdo-release: https://github.com/rdo-infra/rdo-release
{% if ansible_distribution_major_version|int <= 7 %}
[centos-openstack-queens]
name=CentOS OpenStack Queens Repository
{% if zuul_site_mirror_fqdn is defined %}
baseurl=http://{{ zuul_site_mirror_fqdn }}/centos/7/cloud/$basearch/openstack-queens/
{% else %}
baseurl=http://mirror.centos.org/centos/7/cloud/$basearch/openstack-queens/
{% endif %}
gpgcheck=1
enabled=1
gpgkey=file:///tmp/RPM-GPG-KEY-CentOS-SIG-Cloud
{% elif ansible_distribution_major_version|int == 8 %}
[RDO-CentOS8-deps]
name=CentOS OpenStack Train Repository
{% if zuul_site_mirror_fqdn is defined %}
baseurl=http://{{ zuul_site_mirror_fqdn }}/centos/8-stream/cloud/$basearch/openstack-train/
{% else %}
baseurl=http://mirror.centos.org/centos/8-stream/cloud/$basearch/openstack-train/
{% endif %}
gpgcheck=0
enabled=1
# For C9S we need to consume RDO packages from testing repo as it was never released to official
# mirrors. For OpenvSwitch however we must use release official repo.
{% elif ansible_distribution_major_version|int == 9 %}
[RDO-CentOS9-stream-deps]
name=CentOS OpenStack Wallaby Repository
{% if zuul_site_mirror_fqdn is defined %}
baseurl=http://{{ zuul_site_mirror_fqdn }}:8080/buildlogs.centos/9-stream/cloud/x86_64/openstack-wallaby/
{% else %}
baseurl=https://buildlogs.centos.org/centos/9-stream/cloud/x86_64/openstack-wallaby/
{% endif %}
gpgcheck=0
enabled=1
[RDO-CentOS9-stream-nfv]
name=CentOS9 Stream NFV Repository
{% if zuul_site_mirror_fqdn is defined %}
baseurl=http://{{ zuul_site_mirror_fqdn }}/centos-stream/SIGs/9-stream/nfv/x86_64/openvswitch-2/
{% else %}
baseurl=https://mirror.stream.centos.org/SIGs/9-stream/nfv/x86_64/openvswitch-2/
{% endif %}
gpgcheck=0
enabled=1
{% endif %}
