registry:
  address: '::'
  port: 5000
  public-url: 'https://{{ ansible_host | ipwrap }}:{{ buildset_registry_port }}'
  tls-cert: /tls/cert.pem
  tls-key: /tls/cert.key
  secret: "{{ registry_secret }}"
  users:
    - name: zuul
      pass: "{{ registry_password }}"
      access: write
  storage:
    driver: filesystem
    root: /storage
